@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;box-sizing: border-box;
}

/* / Custom scrollbar styles / */
.scrollbar-custom::-webkit-scrollbar {
  width: 7px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #BA570B;
}

/* / Custom scrollbar styles / */
.scrollbar-x-custom::-webkit-scrollbar {
  height: 5px;
}

.scrollbar-x-custom::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar-x-custom::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid transparent;
}

.scrollbar-x-custom::-webkit-scrollbar-thumb:hover {
  background-color: #BA570B;
}